



<!DOCTYPE html>
<!-- footer -->

<html lang="en-US">
    <head>
        <style>
            .footer {
                background-color: rgb(23,60,118);
            }
            .no-underline-link {
                color: white;
                text-decoration: none;
            }
            p {
                color: white;
            }
        </style>
    </head>
<footer class="footer">
    <nav class="footer-nav">
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact-us.html">Contact Us</a></li>
            <li><a href="events.html">Events</a></li>
            <li><a href="events.html">Bingo Bango Bongo</a></li>
            <!-- Add more footer links as needed -->
        </ul>
    </nav>
    <p>© 2024 South Weber Country Fair Days. All rights reserved.</p>
</footer>
</html>