



<!DOCTYPE html>
<!-- footer -->



<div id="header"></div>


<html lang="en-US">
<header>
    <img src="../images/logo-white.png" alt="logo" width="80" height="80">
    <h1>South Weber Country Fair Days</h1>
    <nav class="navbar">
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact-us.html">Contact Us</a></li>
            <li><a href="events.html">Events</a></li>
            <!-- Add more menu items as needed -->
        </ul>
    </nav>
</header>
</html>